annotated-types==0.6.0
anyio==3.7.1
asgiref==3.7.2
awsebcli==3.20.10
blessed==1.20.0
boto3==1.20.50
botocore==1.23.54
cement==2.8.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.3
cryptography==41.0.5
defusedxml==0.7.1
distro==1.8.0
Django==4.0
django-allauth==0.44.0
django-braces==1.14.0
django-cors-headers==4.3.1
django-ebhealthcheck==2.0.2
django-rest-auth==0.9.5
django-storages==1.14.2
django-widget-tweaks==1.4.8
djangorestframework==3.13.1
drf-yasg==1.21.7
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.4
inflection==0.5.1
jmespath==0.10.0
mysqlclient==2.2.0
oauthlib==3.2.2
openai==1.3.7
packaging==23.2
pathspec==0.10.1
Pillow==10.1.0
pycparser==2.21
pydantic==2.5.2
pydantic_core==2.14.5
PyJWT==2.8.0
PyMySQL==1.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
s3transfer==0.5.2
semantic-version==2.8.5
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
termcolor==1.1.0
tqdm==4.66.1
typing_extensions==4.8.0
uritemplate==4.1.1
urllib3==1.26.18
wcwidth==0.1.9
