<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>수정하기: {{ post.title }}</title>
    </head>
    <body>

<h1>글 수정하기</h1>

<h2>원제목</h2>
<p>{{ post_o.title }}</p>
<h2>원글</h2>
<p>{{ post_o.content }}</p>
<br><br><br>
<form method="POST">
    {% csrf_token %}
    <div>
        <label>
            <input type="text" name="title" maxlength="50" placeholder="제목 작성하기(50자 이내)">
        </label>
    </div>
    <div>
        <label>
            <textarea name="content" cols="40" rows="10" placeholder="본문 작성하기"></textarea>
        </label>
    </div>
    <button type="submit">글 수정 완료하기</button>
    <a href="{% url 'index' %}">메뉴로 돌아가기</a>
</form></body></html>