<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>글 삭제 확인 | LARGE</title>
</head>
<body>
    {% if user != post.created_by and not user.is_superuser %}
        <h3>권한이 없습니다.</h3>
        <h3>작성자만 글을 삭제할 수 있습니다.</h3>
    {% else %}
        <h3>정말 글을 삭제 하시겠습니까?</h3>
        <form method="POST">
            {% csrf_token %}
            <button type="submit">삭제하기</button>
        </form>
    {% endif %}
    <br>
    <a href="{% url 'post-detail' post.id %}">취소하기</a>
    <a href="{% url 'post-index' %}">메뉴로 돌아가기</a>
</body>
</html>