asgiref==3.7.2
awsebcli==3.20.10
blessed==1.20.0
botocore==1.31.69
cement==2.8.2
certifi==2023.7.22
charset-normalizer==3.3.1
colorama==0.4.3
Django==3.2.21
filelock==3.12.2
gunicorn==21.2.0
idna==3.4
importlib-metadata==6.7.0
jmespath==1.0.1
packaging==23.1
pathspec==0.10.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
semantic-version==2.8.5
six==1.16.0
sqlparse==0.4.4
termcolor==1.1.0
typing_extensions==4.7.1
urllib3==1.26.18
wcwidth==0.1.9
whitenoise==6.5.0
zipp==3.15.0
