{% extends "blog/main.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
{% endblock css %}

{% block content %}
    <div>
        {% if user.is_authenticated %}
        Hello, {{user.nickname}}! You can write your own post and comments. 
        {% else %}
        Hello! You need to sign in to make a post or comments. 
        {% endif %}
    </div>

    <div>
        {% if posts.count == 0 %}
            There is no post! How about creating your own?
        {% else %}
            <table>
                <thead>
                    <th class=title_th>Title</th>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td class=title_td><a href="{% url 'post-detail' post.id%}" style="text-decoration: none">{{post.title_for_list}}</a></td>
                        </tr>
                    {% endfor %}  
                </tbody>
                
            </table>
               
        {% endif %}
            
    </div>
    <br>
    
    {% if user.is_authenticated %}
        <div>
            <a href="{% url 'post-create' %}">create</a>
        </div>
    {% endif %}


{% endblock content %}